
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Panel with Tabs - Slot Padding
.tab-panel-slot {
  padding-top: $panel-default-slot-padding-top;
}

// Table margin-top
.table {
  margin-top: $table-margin-top;
}

// Table cells vertical align
.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        vertical-align: $table-cell-vertical-align;
      }
    }
  }
}
